/* Reset CSS */
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}
/* End Reset CSS */

$font_color: #00CC9A;
$off_font_color: #9AA3A4;
$border_color: #DDD;
$body_color_top: white;
$body_color_bottom: #2AD2D2;
html{
	height: 100%;
}
body{
	//background-color: white;//#1EE6C2;
	height: 100%; 
	width: 100%; 
	margin: 0;

    background-repeat: no-repeat;
    background-attachment: fixed;
	// background: -webkit-linear-gradient($body_color_top,$body_color_bottom);
	// background: -o-linear-gradient($body_color_top,$body_color_bottom);
	// background: -moz-linear-gradient($body_color_top,$body_color_bottom);
	background: linear-gradient($body_color_top,$body_color_bottom);
}

.container{
	height: 100%; 
	width: 100%;
	overflow: scroll;
	padding-top: 20px;
}

$var: 1em;
.title_area{
	padding: 20px 0px;
	text-align: center;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: $font_color;
	.title{
		// font-family: 'Quicksand', sans-serif;
		font-size: 5em;
		display: inline-block;
		// margin-left: $var/2;
	}
	.subtitle{
		display: inline-block;
		width: $var;
		font-size: $var;
	}
}

.category_tab{
	text-align: center;
	.category{
		margin: 5% 0;
		text-align: center;
		color: $off_font_color;
		
		&:hover, &:focus{
	    	color: $font_color; 
		} 
	}
}

.todo_creation{
	margin: 0 0;
	input{
		height: 4em;
		border-radius: 0;
		// border-right: none;
	}
	button{
		height: 4em;
		border-radius: 0;
		border-left: none;
		color: $font_color;
	}
}

.todo{
	margin: 0 0;
	height: 5em;
	padding: 3% 3%;
	/* border: blue; */
    border-style: solid;
    border-width: 1px;
    border-color: $border_color;
    background-color: white;

	.first_part{
		/* dynamically vertical center */
		display: block;
		position: relative;
	  	top: 50%;
	  	transform: translateY(-50%);
	  	color: $font_color;
		.title{
			display: inline-block;
			width: 80%;
			margin: 0 5%;
			&.checked{
				text-decoration: line-through;
				font-style: italic;
			}
		}
	}
	.second_part{
		/* dynamically vertical center */
		display: block;
		position: relative;
	  	top: 50%;
	  	transform: translateY(-50%);

	  	text-align: right;
	  	a.star{
	  		color: #FFB700;
	  	}
	  	a.trash{
	  		// color: red;
	  	}
	  	i{
	  		display: block;
	  		margin: 15% 0;
	  	}
	}
}

.fixed-top{
	display: block;
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;

	margin-left: auto;
	margin-right: auto;
	//width: 40%;

	&.category_tab{
		top: 0;
	}

	&.todo_creation{
		top: 4em;
		input{
			width: 90%;
		}
		.btn_group{
			display: inline-block;
			width: 10%;
			padding-left: 0;
			button{
				padding: 0px;
			    display: block;
			    width: 100%;
			}
		}
	}
	// width: inherit;
	// display: none;
}
